img {	

     float: left;



     
}

.container {	
   overflow: hidden;


}  

 h1 {	
 
     background-color: white;
     color: dimgray;
 
 } 
 
 b {
	   .tab { text-indent:40px }
	 
	 
	 
	 
 }